<header class="header">
  <div class="icons-settings">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        language
      </span>
    </mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        music_note
      </span>
    </mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        wallpaper
      </span>
    </mat-icon>
  </div>
  <div>
    <button mat-stroked-button (click)="openSignupDialog()">Sign up</button>
    <button mat-stroked-button (click)="openLoginDialog()">Log in</button>
  </div>

</header>

<div class='start-page'>
  <h1>My monster dolls</h1>
  <nav>
    <ul>
      <li>
        <button mat-stroked-button (click)="goToMainPage()">Main page</button>
      </li>

      <li>
        <button mat-stroked-button (click)="goToCatalogPage()">Catalog Page </button>
      </li>
    </ul>
  </nav>
</div>
