
.image{
    width: 100%;
    display: block;
    position: relative;
}


.slider-title {
  position: absolute;
  z-index: 100;
  top: 40%;
  left: 8%;
  text-align: center;
  text-transform: uppercase;
  color: var(--lime);
  font-family: var(--Comforter);
  font-size: 60px;
  letter-spacing: 5px;
  text-shadow: black;
}
.picsum-img-wrapper{
    height: auto;
}
::ng-deep .carousel-indicators li {
    width: 20px ;
    height: 20px ;
    margin:0 auto;
    border-radius: 50% ;
    background-color: #A0AF65;
}

::ng-deep .carousel-indicators .active{
    background-color:#AF6565;
}
::ng-deep .carousel-control-next{
    display: none;
}
::ng-deep .carousel-control-prev{
    display: none;
}
