<header class="header">
  <div class="icons-settings">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        language
      </span>
    </mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        music_note
      </span>
    </mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        wallpaper
      </span>
    </mat-icon>
  </div>
  <div class="input-container">
    <input matInput placeholder="Placeholder" class="input input-search">
    <button mat-stroked-button (click)="goToSearchPage()">Search</button>
    <button mat-stroked-button (click)="goToAdvSearchPage()">Advanced Search</button>
  </div>
  <button class="user-profile">User</button>
</header>
<section class="main">
</section>
<footer class="footer">
  <div>
    <span>
      teamcomp
    </span>
  </div>
  <div>
    <span>
      2022
    </span>
  </div>
  <img src="../../../assets/rs_school_js.svg" class="footer_image">
</footer>