<div class="main-container">
  <app-slider></app-slider>
  <div class="info-block">
    <div class="info-block_text">
      <p>Monster High is an American fashion doll franchise created by Mattel and launched on June 11, 2010.
        The characters are inspired by monster movies, sci-fi horror, thriller fiction, and various other creatures. Monster High was created by Garrett Sander, with illustrations by Kellee
        Riley and illustrator Glen Hanson. <br>
         On February 23, 2021, Mattel announced the return of the Monster High brand, promising new content and products
        for the following year. Its television division announced a new animated series and a live-action film based on
        the franchise. Both projects will air on Nickelodeon in the United States in 2022.</p>
    </div>

     <div class = "slider-container">
          <main-video-slider></main-video-slider>
    </div>
     <a href=""></a>
  </div>

