<div class="rating-container">
  <section class="mat-section" [formGroup]="hair">
    <h5 class="mat-title">Hair<br />quality</h5>
    <mat-checkbox formControlName="1" (change)="OnChange()">poor stitching quality</mat-checkbox>
    <mat-checkbox formControlName="2" (change)="OnChange()">too many styling aids</mat-checkbox>
    <mat-checkbox formControlName="3" (change)="OnChange()">poor material quality</mat-checkbox>
    <mat-checkbox formControlName="4" (change)="OnChange()">oily hair</mat-checkbox>
    <mat-checkbox formControlName="5" (change)="OnChange()">none of the above</mat-checkbox>
  </section>

  <section class="mat-section" [formGroup]="body">
    <h5 class="mat-title">Body<br />quality</h5>
    <mat-checkbox formControlName="1" (change)="OnChange()">poor plastic quality</mat-checkbox>
    <mat-checkbox formControlName="2" (change)="OnChange()">coating wear</mat-checkbox>
    <mat-checkbox formControlName="3" (change)="OnChange()">scuff marks</mat-checkbox>
    <mat-checkbox formControlName="4" (change)="OnChange()">paintwork defect</mat-checkbox>
    <mat-checkbox formControlName="5" (change)="OnChange()">none of the above</mat-checkbox>
  </section>

  <section class="mat-section" [formGroup]="accessories">
    <h5 class="mat-title">Accessories<br />quality</h5>
    <mat-checkbox formControlName="1" (change)="OnChange()">poor fabric quality</mat-checkbox>
    <mat-checkbox formControlName="2" (change)="OnChange()">fabric fading</mat-checkbox>
    <mat-checkbox formControlName="3" (change)="OnChange()">worn off sequins</mat-checkbox>
    <mat-checkbox formControlName="4" (change)="OnChange()">low waist pants</mat-checkbox>
    <mat-checkbox formControlName="5" (change)="OnChange()">none of the above</mat-checkbox>
  </section>
  <div></div>
</div>
