<section class="catalog-filter-main">
  <p>Sort by character:</p>
  <form [formGroup]="filtersForm" (change)="onChange()">
    <select multiple name="characters" formControlName="character">
      <option *ngFor="let character of characters$ | async">
        {{ character }}
      </option>
    </select>
    <p>Sort by year:</p>
    <select multiple name="years" formControlName="year">
      <option *ngFor="let year of years$ | async">
        {{ year }}
      </option>
    </select>
    <p>Sort by type:</p>
    <select multiple name="types" formControlName="type">
      <option *ngFor="let type of types$ | async">
        {{ type }}
      </option>
    </select>
    <p>Sort by series:</p>
    <select multiple name="series" formControlName="series">
      <option *ngFor="let series of serieses$ | async">
        {{ series }}
      </option>
    </select>
    <p>Sort by exclusive:</p>
    <select multiple name="exclusives" formControlName="exclusive">
      <option *ngFor="let exclusive of exclusives$ | async">
        {{ exclusive }}
      </option>
    </select>
    <mat-checkbox class="example-margin" formControlName="notReissue" (click)="onChange()"
      >Don't use reissue</mat-checkbox>
  </form>
</section>
