<ng-container *ngIf="user$ | async as user">
  <div class="user-page-information">
    <h2 class="title-user-page-information">Hello, {{ user.name }}!</h2>
    <div class="all-user-page-information">
      <img *ngIf="user.avatar" class="img-user-page-information" [src]="user.avatar"  />
      <img *ngIf="!user.avatar" class="img-user-page-information" src="https://i.pinimg.com/280x280_RS/04/ff/49/04ff4992f981e4672fa824a6ab6ffea6.jpg" />

      <div class="aboutMe-user-page-information">
        <p><span class = "about-span">Real name: </span>{{ user.personalData.realName }}</p>
        <p><span class = "about-span">About me: </span>{{ user.personalData.about }}</p>
        <p><span class = "about-span">Phone: </span>{{ user.personalData.phone }}</p>
        <p><span class = "about-span">Country: </span>{{ user.personalData.country }}</p>

      </div>
      <div class = "user-page-buttons">
        <button class="glow" mat-raise-button (click)="showUserAbout(user)">Change user information</button>
      </div>
    </div>
  </div>
  <div>
    <own [user]="user"></own>
  </div>
  <div>
    <wanted [user]="user"></wanted>
  </div>
  <div *ngIf="user.collection?.sell">
    <sell [user]="user"></sell>
  </div>
</ng-container>
