.mat-list-base .mat-list-item .mat-list-item-content-reverse,
.mat-list-base .mat-list-option .mat-list-item-content-reverse {
    flex-direction: row !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 20px !important;
    width : 50% !important;
    user-select: none;
}
.mat-pseudo-checkbox {
     color: rgb(0 0 0 / 70%) !important; 
     margin: 4px;
}
.mat-selection-list{
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap ;
    height: 14vh;
    width: 14%;
}
