all-users-page {
  width: 90%;
  margin: 4vh 0;
  display: flex;
  flex-wrap: wrap;


  .one-user-information {
    margin: 2%;
    padding: 1%;
    width: 280px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;

    .one-user-img {
      width: 200px;
      height: 200px;
  }

  .one-users-own-information {
    width: 200px;
    margin: 2% margin;
    font-size: 20px;
    font-family: var(--Risque);
  }

}
}
