doll-card {
  box-sizing: border-box;
  margin: 3em 0;
  display: block;
  border: 2px solid black;
  border-radius: 30px;
  width: 40%;
  height: 34vh;
  overflow: hidden;
  padding: 1em 15% 1em 1em;
  position: relative;
  background-color: white;

  h3 {
    margin-top: 0;
  }

  img {
    height: 30vh;
    position: absolute;
    padding: 1em;
    right: 0;
    top: 0;
  }

}
