$font-color:  #f8caf8;

.doll-page-container h3{
  padding: 1em;
  text-align: center;
  width: 100%;
  color: gold;
  text-transform: uppercase;
  font-size: 40px;
}

.doll-page-information {
  display: flex;
}

.doll-page-information img {
  padding: 1em 3em;
}

p {
  font-size: 20px;
}

.span-title {
  color: gold;
  font-size: 25px;
}

.doll-text  {
  padding: 1em 3em;
  font-size: 25px;
}

.doll-page{
  background-color: white;
}


