
user-page {
  background-image: url("https://krot.info/uploads/posts/2021-02/1613821730_15-p-fon-temnii-zamok-16.jpg");
  background-size: cover;
}
.mat-form-field {
  display: block;
}

mat-card{
  width: 80%;
  margin: 0 auto;

}

.user-form-container  .mat-form-field + .mat-form-field {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 8px;
  }

.user-page-information {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 5vh auto;
  border: 2px solid black;
  border-radius: 30px;
  background-color: black;

  .title-user-page-information {
    text-align: center;
    font-family: var(--Forum);
    letter-spacing: 5px;
    font-size: 50px;
    color: var(--lime);
    text-transform: uppercase;
    margin: 4vh auto;
  }

  .all-user-page-information {
    display: flex;
    width: 80%;
    margin: 5vh auto;

   .img-user-page-information {
      width: 150px;
      height: 150px;

    }





  }
  }





