.mat-form-field {
  display: block;
}

mat-card{
  width: 80%;
  margin: 0 auto;

}

.user-form-container  .mat-form-field + .mat-form-field {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 8px;
  }

.user-page-information {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 5vh auto;

  .title-user-page-information {
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-size: 56px;
    color: rgba(160, 175, 101, 1);
    text-transform: uppercase;
    margin: 4vh auto;
  }

  .all-user-page-information {
    display: flex;
    width: 80%;
    margin: 5vh auto;

   .img-user-page-information {
      width: 150px;
      height: 150px;
     
    }
     


    
    
  }
  }

  



