<ngb-carousel>
  <ng-template ngbSlide>
    <div class="doll-img-wrapper">
         <img class="image-doll-page-slider" [src]="doll.galleryImagesLinks[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="doll-img-wrapper">
      <img class="image-doll-page-slider" [src]="doll.galleryImagesLinks[1]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>

</ngb-carousel>
