<!-- <section class="head">
  <div class="icons-settings">
    <button class="background-picture">background</button>
    <button class="music">Music</button>
    <button class="language">Language</button>
  </div>
  <div class="input-container">
    <input matInput placeholder="Placeholder" class="input input-search">
    <button mat-stroked-button (click)="goToSearchPage()">Search</button>
    <button mat-stroked-button (click)="goToAdvSearchPage()">Advanced Search</button>
  </div>
  <button class="user-profile">User</button>
</section>
<section class="main">

</section>


 -->

<section class="pages">
  <dolls-list
    *ngIf="dolls; else loading"
    [dolls]="dolls"
    [currentPage]="lastPage"
    [showLoadMore]="true"
    (loadMore)="onLoadMore()"
  ></dolls-list>
</section>

<ng-template #loading>Loading...</ng-template>
