.catalog-filter {
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    color: black;
    margin: 4vh auto;
    font-family: var(--Forum);
   
   
    .catalog-filter-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .character,
        .year,
        .type,
        .series,
        .exclusive,
        .checkbox {
            margin: 2%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .character select,
        .type select,
        .series select,
        .checkbox{
            width: 250px;
            font-size: 22px;
        }

        

        
        .exclusive select {
            width: 150px;
            font-size: 22px;
        }
        

        .year select {
            width: 100px;
            font-size: 22px;
        }

        .checkbox{
            justify-content: flex-end;
            color: var(--lime);
            font-family: var(--Forum);
        }

        .character h3,
        .year h3,
        .type h3,
        .series h3,
        .exclusive h3,
        {
            color: var(--lime);
            font-size: 32px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .character select option:checked,
        .year select option:checked,
        .type select option:checked,
        .series select option:checked,
        .exclusive select option:checked {
            background-color: var(--lime);
        }

        .character select option:hover,
        .year select option:hover,
        .type select option:hover,
        .series select option:hover,
        .exclusive select option:hover {
            background-color: var(--pink-rusberry);
        }

     }
    
}