.rating-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 4vh auto;
    border: 2px solid black;
    border-radius: 30px;
    background-color: black;
    color: white;

    .mat-section {
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        margin: 0 auto;
        font-family: var(--Josefin);
        font-size: 22px;



        .mat-title {
            text-align: center;
            font-family: var(--Forum);
            color: var(--lime);
            text-transform: uppercase;
            font-size: 32px;

        }


    }
}
