.mat-form-field {
  display: block;
}

mat-card{
  width: 80%;
  margin: 0 auto;

}
.user-form-container  .mat-form-field + .mat-form-field {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 8px;
  }
