
user-page {
  background-image: url("https://krot.info/uploads/posts/2021-02/1613821730_15-p-fon-temnii-zamok-16.jpg");
  background-size: cover;
}
.mat-form-field {
  display: block;
}

mat-card{
  width: 80%;
  margin: 0 auto;

}

.user-form-container  .mat-form-field + .mat-form-field {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 8px;
  }

.user-page-information {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 5vh auto;
  border: 2px solid black;
  border-radius: 30px;
  background-color: black;

  .title-user-page-information {
    text-align: center;
    font-family: var(--Forum);
    letter-spacing: 5px;
    font-size: 50px;
    color: var(--lime);
    text-transform: uppercase;
    margin: 4vh auto;
  }

  .all-user-page-information {
    display: flex;
    width: 80%;
    margin: 5vh auto;
    flex-wrap: wrap;
    justify-content: space-between;

   .img-user-page-information {
      width: 200px;
      height: 200px;
    }

    .aboutMe-user-page-information {
      font-size: 30px;
      font-family: var(--josefin);
    }

    .about-span {
      font-family: var(--Forum);
      text-transform: uppercase;
      color: var(--lime);
    }

    .user-page-buttons button{
      font-family: var(--Forum);
      font-size: 30px;
      border: 2px solid var(--font-gold);
      background-color: var(--font-gold);
      border-radius: 30px;
      width: 230px;
      height: 5vh;
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
      margin: 1vh 2%;
      padding-bottom: 20%;

    }

   .user-page-buttons button:hover{
       opacity: 1;
       background-color: var(--lime);
   }

   .user-page-buttons button:active{
       opacity: 1;
       background-color: var(--pink-rusberry);
  }





  }
  }





