.container{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
    width: 80%;
    margin: 0 auto;

    .wanted-doll-container {
        display: flex;
        flex-direction: column;

        img {
          height: 30vh;
          padding: 1em;
          right: 0;
          top: 0;
         }


    .wanted-button {
      font-family: var(--Forum);
      font-size: 30px;
      border: 2px solid var(--font-gold);
      background-color: var(--font-gold);
      border-radius: 30px;
      width: 260px;
      height: 5vh;
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
      margin: 1vh 2%;
      padding-bottom: 15%;

    }

   .wanted-button:hover{
       opacity: 1;
       background-color: var(--lime);
   }
   .wanted-button:active{
       opacity: 1;
       background-color: var(--pink-rusberry);
  }

}

}
