@use 'styles/header.scss';
@use 'styles/adv-search-page.scss';
@use 'styles/catalog-page.scss';
@use 'styles/doll-card.scss';
@use 'styles/dolls-list.scss';
@use 'styles/main-page.scss';
@use 'styles/modal-form.scss';
@use 'styles/start-page.scss';
@use 'styles/user-page.scss';
@use 'styles/doll-page.scss';

body {
  background-color: black !important;
  color: white !important;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .icons-settings {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .input-container {
    width: 45%;

    .input-search {
      width: 70%;
      height: 3vh;
      border: 2px solid black;
      border-radius: 30px;
    }
  }
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 9%;
  &_image{
    width: 150px;
  }
}
.main,
.main-page,
.catalog-filter-main,
.cards-container,
.doll-page-container {
  color: black;
  width: 90%;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 30px;
  background-color: white;

}

.catalog-filter-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}

.cards-container {
  background-color:black;
  border: none;
}

.main {
  height: 80vh;
}

.main-page{
  height: auto;
  border: none;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
