<div class="wanted-container">
    <h3 class="wanted-title" >I want to buy</h3>
    <div class="wanted-doll-container">
  <ng-container *ngFor="let doll of dolls$ | async">
    <div class="wanted-information-container">
    <img [src]="doll.galleryImagesLinks[0]" routerLink="/catalog/{{doll.id}}"/>
    <p class="information-container-p">{{ doll.character }}</p>
    <p class="information-container-p">{{ doll.series }}</p>
    <p class="information-container-p">{{ doll.year }}</p>
    <button class="wanted-button glow" mat-raise-button (click)="onAddOnCollection(doll.id)">I have</button>
    <button class="wanted-button gloww" mat-raise-button (click)="onDelete(doll.id)">Delete</button>
    </div>
  </ng-container>
  </div>

