<mat-card>
  <mat-label>{{ result$ | async }}</mat-label>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter password</mat-label>
      <input
        matInput
        [type]="showConfirmation ? 'password' : 'text'"
        formControlName="password"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-stroked-button
      color="primary"
      [disabled]="!loginForm.valid"
    >
      Register
    </button>
  </form>
</mat-card>
