<section class="head">
  <div class="icons-settings">
    <button class="background-picture">background</button>
    <button class="music">Music</button>
    <button class="language">Language</button>
  </div>
  <div class="input-container">
    <input matInput placeholder="Placeholder" class="input input-search">
    <button mat-stroked-button (click)="goToSearchPage()">Search</button>
    <button mat-stroked-button (click)="goToAdvSearchPage()">Advanced Search</button>
  </div>
  <button class="user-profile">User</button>
</section>
<section class="main">
  <p>Это расширенный поиск. Здесь форма расширенного поиска. Фильтры: предмет поиска (doll, playset, fashion packs, electrocuties, minis, Plush и т.д), год выпуска(выпадающий список с множественным выбором) (формируется динамически), коллекция  выпадающий список (формируется динамически), персонаж выпадающий список (тоже динамически), эксклюзив выпадающий список (тоже динамически), чекбокс только Comic Con, инпут поиск по ключесвым словам. Найденное отображается под фильтрами.Если совпадений нет, отображается сообщение что ничего не найдено </p>
</section>
