<section class="head">
  <div class="icons-settings">
    <button class="background-picture">background</button>
    <button class="music">Music</button>
    <button class="language">Language</button>
  </div>
  <div class="input-container">
    <input matInput placeholder="Placeholder" class="input input-search">
    <button mat-stroked-button (click)="goToSearchPage()">Search</button>
    <button mat-stroked-button (click)="goToAdvSearchPage()">Advanced Search</button>
  </div>
  <button class="user-profile">User</button>
</section>
<section class="main">
  <p>Это страница поиска (это поиск по имени). Здесь реализуем принцип кинопоиска. Выводятся только те лоты, которые соответствуют строке поиска или настройкам из расширенного поиска. Описание лота содержит маленькое изображение лота, имя персонажа, год выпуска и серию. При клике по лоту переходим на страницу каталога соответствующую этой кукле.</p>
</section>
