<ng-container *ngIf="user$ | async as user">
  <div class="watch-page-container">
     <div class="watch-page-information">
        <div class="all-watch-page-information">
           <img *ngIf="user.avatar" class="img-watch-page-information" [src]="user.avatar" />
           <img *ngIf="!user.avatar" class="img-watch-page-information"
              src="https://i.pinimg.com/280x280_RS/04/ff/49/04ff4992f981e4672fa824a6ab6ffea6.jpg" />
           <div class="aboutMe-watch-page-information">
              <p><span class="watch-span">Real name:</span> {{ user.personalData.realName }}</p>
              <p><span class="watch-span">About me:</span> {{ user.personalData.about }}</p>
              <p><span class="watch-span">Phone:</span> {{ user.personalData.phone }}</p>
              <p><span class="watch-span">Country:</span> {{ user.personalData.country }}</p>
           </div>
           <div class="watch-page-buttons">
              <button class="glow" mat-raise-button (click)="showCollection()">Show collection</button>
              <button class="glow" mat-raise-button (click)="showWanted()">Show Wanted</button>
              <button class="own-button glow" mat-raise-button (click)="sellWanted()">Show Sell</button>
           </div>
        </div>
     </div>
     <div class = "own-container">
        <h3 class = "own-title">Collection</h3>
        <div class = "own-doll-container">
           <ng-container *ngFor="let collection of collectionDolls$ | async">
              <div class="own-information-container">
                 <img [src]="collection.galleryImagesLinks[0]" routerLink="/catalog/{{collection.id}}" />
                 <p class="information-container-p">{{ collection.character }}</p>
                 <p class="information-container-p">{{ collection.series }}</p>
                 <p class="information-container-p">{{ collection.year }}</p>
              </div>
           </ng-container>
        </div>
     </div>
     <div class = "own-container">
        <h3 class = "own-title">Wanted</h3>
        <div class = "own-doll-container">
           <ng-container *ngFor="let wanted of wantedDolls$ | async">
              <div class="own-information-container">
                 <img [src]="wanted.galleryImagesLinks[0]" routerLink="/catalog/{{wanted.id}}" />
                 <p class="information-container-p">{{ wanted.character }}</p>
                 <p class="information-container-p">{{ wanted.series }}</p>
                 <p class="information-container-p">{{ wanted.year }}</p>
              </div>
           </ng-container>
        </div>
     </div>
     <div class = "sell-container">
        <h3 class="sell-title">For sale</h3>
        <div class="sell-doll-container">
           <ng-container class="sell-shelf" *ngFor="let sell of sellDolls$ | async">
              <div class="sell-information-container">
                 <img [src]="sell.galleryImagesLinks[0]" routerLink="/catalog/{{ sell.id }}" />
                 <p class="information-container-p">{{ sell.character }}</p>
                 <p class="information-container-p">{{ sell.series }}</p>
                 <p class="information-container-p">{{ sell.year }}</p>
                 <div *ngFor="let data of sellData">
                    <img style="width: 200px; height: auto" *ngFor="let photo of data.photos" [src]="photo" />
                    <!---<p class="information-container-p">{{ data.description }}</p>
                    <p class="information-container-p">{{ data.price }}--->
                 </div>
              </div>
           </ng-container>
        </div>
     </div>
  </div>
</ng-container>
