<ng-container *ngIf="doll$ | async as doll;" >
  <div class="doll-page-container">
  <h3>{{doll.character}}</h3>
  <div class="doll-page-information">
  <img [src]="doll.galleryImagesLinks[0]"/>
  <div class="doll-page-text">
  <p><span class="span-title">Series:</span> {{doll.series}}</p>
  <p><span class="span-title">Year:</span> {{doll.year}}</p>
  <p><span class="span-title">Type:</span> {{doll.type}}</p>
  <p><span class="span-title">Gender:</span> {{doll.gender}}</p>
  <p><span class="span-title">Number:</span> {{doll.modelNumber}}</p>
  <p><span class="span-title">Reissue:</span> {{doll.reissue}}</p>
   </div>

  </div>
  <p class="doll-text"><span class="span-title">Description:<br></span> {{doll.description}}</p>
  </div>
</ng-container>
