<header class="header">
  <div class="icons-settings">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        language
      </span>
    </mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        music_note
      </span>
    </mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <span class="material-icons">
        wallpaper
      </span>
    </mat-icon>
  </div>
  <div class="input-container">
    <input matInput placeholder="Search" class="input input-search input-input">
    <button mat-stroked-button (click)="goToSearchPage()">Search</button>
  </div>
  <div class="user-container">
    <button mat-stroked-button (click)="goToUserPage()">User</button>
  </div>
</header>
