input{
    background-color: black;
    border: solid 1px rgb(180, 180, 180) !important;
    margin-right: 3vh;
    color: white;
    padding-left: 15px;
}
button{
    font-size: 13px;
}
.material-icons{
    cursor: pointer;
}